/*
tailwind setup for react
https: //daveceddia.com/tailwind-create-react-app/#production
*/
@import 'tailwindcss/base';

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-custom-dark-blue;
}

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
}

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
